<div class="row">
  <div class="col-6 offset-3">
    <div class="row mb-5 d-flex align-items-center border-bottom py-2">
      <div class="col-3 font-weight-bold">Transaction List</div>
      <div class="col-9 font-weight-bold d-flex justify-content-end">
        <label for="fromDate" class="mr-2">
          From Date
          <input id="fromDate" bsDatepicker class="form-control" [(ngModel)]="filter.fromDate"/>
        </label>
        <label for="toDate" class="mr-2">
          To Date
          <input id="toDate" bsDatepicker class="form-control" [(ngModel)]="filter.toDate"/>
        </label>
        <div class="d-flex align-items-end pb-2">
          <button (click)="getTransactionList()" class="btn btn-primary">Filter</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-hover table-striped table-bordered">
          <thead>
          <tr>
            <th>Reference No</th>
            <th>Customer Number</th>
            <th>Customer Name</th>
            <th>Acquirer</th>
            <th></th>

          </tr>
          </thead>
          <tbody>
          <tr *ngIf="transactionQueryResponse?.data?.length === 0">
            <td colspan="6" class="text-muted p-2 text-center">
              There is no items...
            </td>
          </tr>
          <ng-container *ngIf="transactionQueryResponse?.data?.length > 0">
            <tr *ngFor="let item of transactionQueryResponse.data">
              <td>
                {{item.transaction.merchant.referenceNo}}
              </td>
              <td>
                {{item.customerInfo?.number}}
              </td>
              <td>
                {{item.customerInfo?.billingFirstName}}&nbsp;{{item.customerInfo?.billingLastName}}
              </td>
              <td>
                {{item.acquirer?.name}}
              </td>
              <td>
                <a class="btn btn-primary"
                   [routerLink]="'/app/transaction/detail/'+item.transaction.merchant.transactionId">Detail</a>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
        <div class="d-flex justify-content-end mt-4">
          <button class="btn btn-info mr-3" (click)="prevPage()" [disabled]="!transactionQueryResponse.prev_page_url">
            Prev
          </button>
          <button class="btn btn-info" (click)="nextPage()" [disabled]="!transactionQueryResponse.next_page_url">
            Next
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
